#airport .content-right .airport-home {
  margin-bottom: 20px;
}
#airport .content-right .airport-home h2 {
  font-size: 32px;
}
#airport .content-right .airport-home img {
  width: 100%;
}
#airport .content-right .airport-links ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
#airport .content-right .airport-links ul li {
  background: #5B9DDE;
  border: 1px solid #000;
  color: #fff;
  padding: 8px 20px;
  margin: 0 10px 20px 10px;
}
#airport-home .content-right .airport-links ul li a {
  display: block;
}
