/* airport.css
 * styles applied to airport landing pages
 * Erich
 */

#airport .content-right .airport-home {
  margin-bottom: 20px;
}
#airport .content-right .airport-home h2 {
  font-size: 32px;
}
#airport .content-right .airport-home img {
  width: 80%;
  display: block;
  margin: 0 auto;
  border: 4px solid #5B9DDE;
}
#airport .content-right .airport-links ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
#airport .content-right .airport-links ul li a {
  display: block;
  color: #fff;
}
