/* header.css
 * styles targeting the header
 * Erich
 */

.header-wrap {
 margin: 20px 20px 40px 20px;
}
.header {
 width: 100%;
}
.header .nav-main {
 background: #5B9DDE;
 border: 1px solid #000;
}
.header .nav-main ul {
 list-style: none;
 display: flex;
}
.header .nav-main ul li {
 color: #fff;
 flex: auto;
 font-size: 24px;
 text-align: center;
 display: inline-block;
 padding: 20px 0 20px 0;
}
.header .nav-main ul li a {
 color: #fff;
 margin: 0 8px 0 8px;
}
.header .nav-main .airports {
 cursor: pointer;
}
.header .nav-main .airports ul {
 display: none;
 position: absolute;
 top: 100%;
 z-index: 1;
}
.header .nav-main .airports ul li {
 border-left: 1px solid #000;
 border-right: 1px solid #000;
 border-bottom: 1px solid #000;
 background: #5B9DDE;
 width: 100%;
}
