/* header.css
 * styles targeting the header
 * Erich
 */

.header-wrap {
 margin: 0;
}
.header {
 width: 100%;
 color: #fff;
}
.header .banner {
  background: #5B9DDE;
  height: 150px;
  border-bottom: 4px solid #fff;
  overflow: hidden;
}
.header .banner .title {
  position: absolute;
  top: 30%;
  left: 40px;
}
.header .banner .logo {
  position: absolute;
  right: 40px;
  height: 80%;
  top: 50%;
  transform: translateY(-50%);
}
.header .nav-main {
 background: #5B9DDE;
}
.header .nav-main ul {
 list-style: none;
 display: flex;
}
.header .nav-main ul li {
 flex: auto;
 font-size: 24px;
 text-align: center;
 display: inline-block;
 padding: 20px 0 20px 0;
}
.header .nav-main ul li a {
 color: #fff;
 margin: 0 8px 0 8px;
}
.header .nav-main .airports {
 cursor: pointer;
}
.header .nav-main .airports ul {
 display: none;
 position: absolute;
 top: 100%;
 z-index: 1;
}
.header .nav-main .airports ul li {
 border-left: 1px solid #000;
 border-right: 1px solid #000;
 border-bottom: 1px solid #000;
 background: #5B9DDE;
 width: 100%;
}
