.admin-panel {
  border: 2px solid #ccc;
  padding: 10px;
}
.admin-panel ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.admin-panel .button {
  background: #5B9DDE;
  border: 1px solid #000;
  margin: 10px 10px;
}
.admin-panel .button a {
  color: #fff;
  display: block;
  font-weight: bold;
  padding: 16px 24px;
}
