/* structure.css
 * base structure styles
 * Erich
 */

* {
  position: relative;
}

html {
  min-height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #fff url('../images/bg-clouds.jpg') center no-repeat;
  background-size: cover;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  cursor: pointer;
}

h1 {
  font-size: 52px;
  font-weight: bold;
}
h2 {
  font-size: 36px;
  font-weight: bold;
}

.success {
  background: lightgreen;
  border: 2px solid darkgreen;
  padding: 8px 8px 8px 24px;
}
.success:before {
  content: '✔';
  font-weight: bold;
  font-size: 28px;
  top: 50%;
  transform: translateY(-50%);
  color: darkgreen;
  position: absolute;
  left: 4px;
}

.notice {
  background: yellow;
  border: 2px solid orange;
  padding: 8px 8px 8px 24px;
}
.notice:before {
  content: '!';
  font-weight: bold;
  font-size: 28px;
  top: 50%;
  transform: translateY(-50%);
  color: orange;
  position: absolute;
  left: 4px;
}

.warning {
  background: pink;
  border: 2px solid red;
  padding: 8px 8px 8px 24px;
}
.warning:before {
  content: 'X';
  font-weight: bold;
  font-size: 28px;
  top: 50%;
  transform: translateY(-50%);
  color: red;
  position: absolute;
  left: 4px;
}

.container {
  max-width: 60em;
  margin: 0 auto;
  background: #fff;
  box-shadow: 0 0 8px #333;
}

.content-wrap {
  padding: 40px 0 0 0;
  margin: 0 20px 0 20px;
}
.content {
  max-width: 100%;
  display: block;
  min-height: 47.5em;
  margin-bottom: 20px;
}
.content-left {
  width: 100%;
  margin-right: 0;
  margin-bottom: 20px;
}
.content-left .nav-secondary {
  background: #5B9DDE;
  border: 1px solid #000;
  color: #fff;
  padding: 10px;
  line-height: 24px;
}
.content-left .nav-secondary h3 {
  font-size: 20px;
  text-align: center;
  border-bottom: 1px solid #000;
  padding-bottom: 8px;
  margin-bottom: 8px;
}
.content-left .nav-secondary a {
  color: #fff;
}
.content-right {
  width: 100%;
  display: block;
  min-height: 47.5em;
  margin-bottom: 20px;
}

@media(min-width: 47.5em)
{
  .content-left {
    width: 20%;
    vertical-align: top;
    display: inline-block;
    margin-right: 20px;
    min-height: 47.5em;
  }
  .content-right {
    width: calc(80% - 25px);
    display: inline-block;
    vertical-align: top;
  }
}

@media(min-width: 60em)
{
  .container {
    margin: 20px auto 20px auto;
  }
}
