/* structure.css
 * base structure styles
 * Erich
 */

* {
  position: relative;
}

html {
  min-height: 100%;
}

body {
  font-family: sans-serif;
  background: #fff url('../images/airplane-background.jpg') center no-repeat;
  background-size: cover;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.container {}

.content-wrap {
  margin: 0 20px 40px 20px;
}
.content {
  width: 100%;
  display: block;
}
.content-left {
  width: 20%;
  vertical-align: top;
  display: inline-block;
  margin-right: 20px;
}
.content-left .nav-secondary {
  background: #5B9DDE;
  border: 1px solid #000;
  color: #fff;
  padding: 10px;
  line-height: 24px;
}
.content-left .nav-secondary h3 {
  font-size: 20px;
  text-align: center;
  border-bottom: 1px solid #000;
  padding-bottom: 8px;
  margin-bottom: 8px;
}
.content-left .nav-secondary a {
  color: #fff;
}
.content-right {
  width: calc(80% - 25px);
  display: inline-block;
  vertical-align: top;
}
