/* # GENERAL
 * #########
 */

* {
  position: relative;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.container {}



/* # HEADER
 * ########
 */

.header-wrap {
  margin: 20px 20px 40px 20px;
}
.header {
  width: 100%;
}
.header .nav-main {
  background: #5B9DDE;
  border: 1px solid #000;
}
.header .nav-main ul {
  list-style: none;
  display: flex;
}
.header .nav-main ul li {
  color: #fff;
  flex: auto;
  font-size: 24px;
  text-align: center;
  display: inline-block;
  padding: 20px 0 20px 0;
}
.header .nav-main ul li a {
  color: #fff;
  margin: 0 8px 0 8px;
}
.header .nav-main .airports ul {
  display: none;
  position: absolute;
  top: 100%;
  z-index: 1;
}
.header .nav-main .airports:hover ul {
  display: block;
}
.header .nav-main .airports ul li {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  background: #5B9DDE;
  width: 100%;
}



/* # CONTENT
 * #########
 */

.content-wrap {
  margin: 0 20px 40px 20px;
}
.content {
  width: 100%;
  display: block;
}
.content-left {
  width: 20%;
  vertical-align: top;
  display: inline-block;
  margin-right: 20px;
}
.content-left .nav-secondary {
  background: #5B9DDE;
  border: 1px solid #000;
  color: #fff;
  padding: 10px;
  line-height: 24px;
}
.content-left .nav-secondary h3 {
  font-size: 20px;
  text-align: center;
  border-bottom: 1px solid #000;
  padding-bottom: 8px;
  margin-bottom: 8px;
}
.content-right {
  width: calc(80% - 25px);
  display: inline-block;
  vertical-align: top;
}



/* # FOOTER
 * ########
 */

.footer-wrap {
  margin: 0 20px 0 20px;
}
.footer {
  width: 100%;
}
.footer .contact {
  background: #5B9DDE;
}
