* {
  position: relative;
}

.header-wrap {
  margin: 0 20px 0 20px;
}
.header {
  width: 100%;
}
.header .nav-main {
  background: aqua;
}
.header .nav-main ul {
  list-style: none;
}
.header .nav-main ul li {
  color: #fff;
  display: inline-block;
  padding: 8px 0 8px 0;
}
.header .nav-main ul li a {
  margin: 0 8px 0 8px;
}

.content {

}

.footer-wrap {
  margin: 0 40px 0 40px;
}
.footer {
  width: 100%;
}
